[ExamifyAccount]
redirect = "home"
paramCode = "code"
==
<?php
  
  use Examify\Exams\Models\Users as Users;

  function onStart(){
    $this->addJs('assets/js/form-validation.js');

    // get the redirect to session
    $this['redirect_to'] = session('redirect-to');
  }

  function onValidate(){
    return Users::validateLogin();
  }

?>
==
{% partial 'page-start' %}
{% partial 'navbar' %}

<div class="container exam-questions">

  <!-- the switch for the pagination -->
  <div class="row mt-3 mb-3 d-flex justify-content-center ">
    <div class="col-sm-8">
      <!-- Material form register -->
      <div class="card shadow-none">

          <h5 class="card-header primary-color white-text text-center py-4">
              <strong>Inloggen</strong>
          </h5>

          <!--Card content-->
          <div class="card-body px-lg-5 pt-4 border-bottom border-right border-left border-light">

              {% partial 'examifyHelpers/login' requestFunction='onSignin' redirect_to=redirect_to %}

          </div>

      </div>
      <!-- Material form register -->
    </div>
  </div>

<!-- /.Vertical Steppers -->

</div>

{% partial 'page-end' %}