<div class="bg-wrapper dark">
    			<div class="container-wrapper">
    				<div class="row footer-row">
    					
    					<div class="row">
    						<!-- Openingstijden -->
    						<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 valign-top has-reveal reveal-order-footer">
    							<h2>Openingstijden particulieren</h2>
    							<table class="openingstijden" >
    								<tbody>
    									<tr><td>Ma t/m wo</td><td>gesloten</td></tr>
    									<tr><td>Donderdag</td><td>9:00 - 17:00</td></tr>
    									<tr><td>Vrijdag</td><td>9:00 - 17:00</td></tr>
    									<tr><td>Zaterdag</td><td>9:00 - 17:00</td></tr>
    									<tr><td>Zondag</td><td>gesloten</td></tr>
    								</tbody>
    							</table>
    						</div><!--
    
    						Bezoekadres
    						--><div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 valign top has-reveal reveal-order-footer bezoekadres">
    							<h2>Bezoekadres</h2>
    							Volmolenweg 9<br />
    							5504 PT Veldhoven <br /><br />
    							
    							<table class="contact" >
    								<tbody>
    									<tr><td><strong>T</strong></td><td> 040 - 253 35 50</td></tr>
    									<tr><td><strong>M</strong></td><td> info@kwekerijmuijderman.nl</td></tr>
    								</tbody>
    							</table>
    						</div>
                                					</div>
    					<div class="row footer-line has-reveal reveal-order-footer">
    						<div class="col-xs-12"><hr /></div>
    					</div>
    
    					<!-- copyright -->
    					<div class="row copyright-row has-reveal reveal-order-footer">
    						<div class="col-xs-12">
    							<span>&copy;</span><strong> 2017 - Kwekerij Muijderman</strong> - Alle rechten voorbehouden
    							<div class="jozef-logo">
    								<img src="https://www.kwekerijmuijderman.nl/themes/kwekerij-muijderman/assets/img/icons/jozefenjozef.svg" alt="Jozef&Jozef" />
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
        </div>