<div class="row">
	<div class="col-12 mt-3" >
		<h3 class="small" >Leerlingen &amp; openstaande licenties</h3>
		<a class="collapseme collapsed d-flex flex-column" type="button" data-toggle="collapse" data-target="#collapse-show-students-{{ school_id }}" aria-expanded="false" aria-controls="collapse-show-students-{{ school_id }}">
			<div class="d-flex flex-row align-items-center white p-3 " >
	    	<div>Leerlingen</div>
				<div class="ml-auto"><i class="fa fa-angle-up rotate-icon"></i></div>
			</div>
	  </a>
	  <div class="collapse white p-3" id="collapse-show-students-{{ school_id }}">
			{% for student in students %}		
				<div class="d-flex justify-content-between align-items-center flex-wrap border-bottom py-3" >
					<div class="username">
						{{ student.name }} {{ student.surname }}
					</div>
				</div>
			{% else %}
			<div class="alert alert-secondary"> Er zijn nog geen leerlingen gevonden in ons systeem.</div>
			{% endfor %}
		</div>
		{# get the inactive licences #}
		<a class="collapseme {% if not deleted_action %} collapsed {% endif %} d-flex flex-column mt-2" type="button" data-toggle="collapse" data-target="#collapse-show-open-lics-{{ school_id }}" aria-expanded="false" aria-controls="collapse-show-open-lics-{{ school_id }}">
			<div class="d-flex flex-row align-items-center white p-3 " >
	    	<div>Openstaande licenties</div>
				<div class="ml-auto"><i class="fa fa-angle-up rotate-icon"></i></div>
			</div>
	  </a>
	  <div class="collapse {% if deleted_action %} show {% endif %} white p-3" id="collapse-show-open-lics-{{ school_id }}">
	  	{% if inactiveLics is not empty %}
			<a class="btn btn-info shadow-none ml-0 mb-3 py-2 px-3" href="/portal/export/{{ school_id }}/students/{{ year }}" ><i class="fa fa-download mr-3" aria-hidden="true"></i>Download alle beschikbare licentiecodes</a>
		{% endif %}
			{% for inactiveLic in inactiveLics %}
			<div class="d-flex justify-content-between align-items-center flex-wrap border-bottom p-2" >
				<div class="username text-break small">
					{{ inactiveLic.key }}
				</div>
				{{ form_open({ request: 'onDelete' }) }}
					<button class="btn btn-danger shadow-none" type="submit" onclick="return customAjaxClick($(this), { key: '{{ inactiveLic.key }}' }) " >Verwijder</button>
				{{ form_close() }}
			</div>
			{% else %}
				<div class="alert alert-secondary" >Er zijn geen openstaande licenties gevonden in ons systeem.</div>
			{% endfor %}
		</div>
	</div>
</div>