url = "/test/:id"
layout = "default"
title = "test"
==
<?php
function onStart() {
    $portfolioId = $this->param('id');
    if ($portfolioId === null) {
        throw new \Exception('No portfolio ID provided');
    }
    
    $allPortfolioIds = \LarsJacobs\Portfolio\Models\Portfolio::all()->pluck('id')->toArray();
    var_dump($allPortfolioIds);
    
    $portfolio = \LarsJacobs\Portfolio\Models\Portfolio::find($portfolioId);  // find the specific portfolio
    if ($portfolio === null) {
        throw new \Exception("No portfolio found with ID: $portfolioId");
    }
    
    $stocks = $portfolio->stocks; // access the stocks in the portfolio
  
    foreach ($stocks as $stock) {
        echo $stock->name . "\n";  // print the name of each stock
    }
}
?>
==
{% for portfolio in user.portfolios %}
    <h2>{{ portfolio.name }}</h2>
    <ul>
        {% for stock in portfolio.stocks %}
            <li>{{ stock.stock_name }}</li>
        {% endfor %}
    </ul>
{% endfor %}