[ExamifyPracticeSessionSelector]
[ExamifyAdminClasses]
==
<?php
  
  use Examify\Exams\Models\Users as Users;
  use Examify\Exams\Models\Exams as Exams;
  use Examify\Exams\Models\Courses as Courses;
  use Examify\Exams\Models\Classes as Classes;

  function onStart()
  { 

    $year = $this->param('year');

    $currentyear = \Examify\Exams\Models\Classes::getCurrentYear();
    if(!$year || $year > ($currentyear + 1))
    {
      return redirect('/portal/classes/' . \Examify\Exams\Models\Classes::getCurrentYear());
    }

    // validate the user is logged in 
    $user = Users::getUser();

    if(!$user)
    {
      return redirect('/login')->with('redirect-to', url()->current());
    }

    // get the schools this user administrates
    $schools = $user->getSchoolAdmin();

    if(!$user->isTeacher() && !$schools->count()){
      return redirect('/login')->with('redirect-to', url()->current());
    }

    if($user->isTeacher())
    {
      $schools = $user->getSchoolTeacher();
    }

    $this['schoolid'] = $this->param('schoolid');
    
    $this['schools'] = $schools;
    $this['user'] = $user;

    $this['schoolyear'] = $this->param('year');

  }

?>
==
{% partial 'page-start' %}
{% partial 'navbar' %}

<div class="container">
  <div class="dashboard-container pt-4">
    {% partial 'examifyHelpers/portal/navbar' %}
    <div class="content-column">
      <div class="content-inside border p-1 p-sm-3" >
        {# loop over the school #}
        {% for school in schools %}
          {% component 'ExamifyAdminClasses' school_id=school.id %}
        {% endfor %}
      </div>
    </div>
  </div>
  
</div>

{% partial 'page-end' %}