# Ignore everything:
*
!.gitignore

# Except composer.json
!composer.json

# Except for the themes directories:

!themes/
!themes/*/
!themes/*/*
!themes/*/*/*
!themes/*/*/*/*
!themes/*/*/*/*/*
!themes/*/*/*/*/*/*
!themes/*/*/*/*/*/*/*
!themes/*/*/*/*/*/*/*/*
!themes/*/*/*/*/*/*/*/*/*
!themes/*/*/*/*/*/*/*/*/*/*
!themes/*/*/*/*/*/*/*/*/*/*/*
!themes/*/*/*/*/*/*/*/*/*/*/*/*
!themes/*/*/*/*/*/*/*/*/*/*/*/*/*

# Ignore zip files and images etc
*.zip
*.jpg
*.jpeg
*.png
*.txt
*.afdesign
*.ai

node_modules/

# Except for the plugins directories:

!plugins/
!plugins/jozefjozef/
!plugins/jozefjozef/*
!plugins/jozefjozef/*/*
!plugins/jozefjozef/*/*/*
!plugins/jozefjozef/*/*/*/*
!plugins/jozefjozef/*/*/*/*/*
!plugins/jozefjozef/*/*/*/*/*/*
!plugins/jozefjozef/*/*/*/*/*/*/*
!plugins/jozefjozef/*/*/*/*/*/*/*/*
!plugins/jozefjozef/*/*/*/*/*/*/*/*/*
!plugins/jozefjozef/*/*/*/*/*/*/*/*/*/*
!plugins/jozefjozef/*/*/*/*/*/*/*/*/*/*/*
!plugins/jozefjozef/*/*/*/*/*/*/*/*/*/*/*/*

!plugins/
!plugins/examify/
!plugins/examify/*
!plugins/examify/*/*
!plugins/examify/*/*/*
!plugins/examify/*/*/*/*
!plugins/examify/*/*/*/*/*
!plugins/examify/*/*/*/*/*/*
!plugins/examify/*/*/*/*/*/*/*
!plugins/examify/*/*/*/*/*/*/*/*
!plugins/examify/*/*/*/*/*/*/*/*/*
!plugins/examify/*/*/*/*/*/*/*/*/*/*
!plugins/examify/*/*/*/*/*/*/*/*/*/*/*
!plugins/examify/*/*/*/*/*/*/*/*/*/*/*/*

.DS_Store

/themes/*/assets/.sass-cache
/themes/*/.sass-cache


/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store
.idea
.env
.env.*.php
.env.php
php_errors.log
nginx-error.log
nginx-access.log
nginx-ssl.access.log
nginx-ssl.error.log
php-errors.log
sftp-config.json
.ftpconfig
selenium.php
composer.lock

# for netbeans
nbproject
