<div class="d-flex flex-column align-items-center" >
    <div class="w-100" style="background-color: #efefef; height: 4px;" ></div>
    <i class="fas fa-caret-down text-center fa-5x" style="color: #efefef;" ></i>
    <h3 class="text-uppercase text-center mt-3" >Welk niveau?</h3>
    <p style="max-width: 640px;" class="text-center mt-3" >
        Selecteer eerst voor welk niveau je de licenties wilt afnemen.
    </p>
    <div class="d-flex" >
        {% for level in ["havo", "vwo"] %}
            {{ form_open({ request: 'onSelectLevel' }) }}
                <input type="hidden" name="packageid" value="{{ orderinformation.packageid }}" />
                <input type="hidden" name="phase" value="{{ orderinformation.phase + 1}}" />
                <input type="hidden" name="level" value="{{ level }}" />
                <button class="btn shadow-none btn-rounded btn-primary" onclick="return customAjaxClick($(this));" >{{ level }}</button>
            {{ form_close() }}
        {% endfor %}
    </div>
</div>